<div class="container">
    <div class="addEmployeeButton">
        <button title="Add Employee" (click)="openNewEmployee()"><i class="fas fa-plus"></i></button>
    </div>
    <div class="employeeTableContainer">
        <div class="tableHeader">
            <h4>Employee Details</h4>
            <input type="text" #searchInput placeholder="Search" (input)="searchEmployee(searchInput.value)">
        </div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th (click)="sortTable('firstName')">Name<i
                            *ngIf="sortType=='asc' && selectedSortColumn=='firstName'" class="fas fa-sort-up"></i> <i
                            *ngIf="sortType=='dsc' && selectedSortColumn=='firstName'"
                            class="fas fa-sort-down"></i></th>
                    <th (click)="sortTable('employeeCode')">Employee Code<i
                        *ngIf="sortType=='asc' && selectedSortColumn=='employeeCode'" class="fas fa-sort-up"></i> <i
                        *ngIf="sortType=='dsc' && selectedSortColumn=='employeeCode'"
                        class="fas fa-sort-down"></i></th>
                    <th (click)="sortTable('emailAddress')">Email<i
                        *ngIf="sortType=='asc' && selectedSortColumn=='emailAddress'" class="fas fa-sort-up"></i> <i
                        *ngIf="sortType=='dsc' && selectedSortColumn=='emailAddress'"
                        class="fas fa-sort-down"></i></th>
                    <th (click)="sortTable('phoneNumber')">Phone No.<i
                        *ngIf="sortType=='asc' && selectedSortColumn=='phoneNumber'" class="fas fa-sort-up"></i> <i
                        *ngIf="sortType=='dsc' && selectedSortColumn=='phoneNumber'"
                        class="fas fa-sort-down"></i></th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let employee of employeeData; let i = index">
                    <td>{{employee.firstName +" "+ employee.lastName}}</td>
                    <td>{{employee.employeeCode}}</td>
                    <td>{{employee.emailAddress}}</td>
                    <td>{{employee.phoneNumber}}</td>
                    <td>
                        <p class="actionIcons">
                            <span title="Edit" (click)="openEdit(employee,i)"><i class="fas fa-pencil-alt"></i></span>
                            <span title="Delete" (click)="deleteEmployee(i)"><i class="fas fa-trash-alt"></i></span>
                        </p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="row justify-content-center">
        <div *ngIf="editEnabled" class="detailContainer col-md-4">
            <i (click)="editEnabled = false" class="fas fa-times"></i>
            <form (ngSubmit)="saveEditedDetails()" [formGroup]="contactForm" novalidate>
                <div class="form-content">
                    <label for="firstName">First Name</label>
                    <p class="errorMsg" *ngIf="!validateForm.firstName"> Please enter first name</p>
                    <input type="text" class="form-control" formControlName="firstName" id="firstName" />
                </div>
                <div class="form-content">
                    <label for="lastName">Last Name</label>
                    <p class="errorMsg" *ngIf="!validateForm.lastName"> Please enter last name</p>
                    <input type="text" class="form-control" formControlName="lastName" id="lastName" />
                </div>
                <div class="form-content">
                    <label for="emailAddress">Email Address</label>
                    <p class="errorMsg" *ngIf="!validateForm.emailAddress"> Please enter valid email</p>
                    <input type="text" class="form-control" formControlName="emailAddress" id="emailAddress" />
                </div>
                <div class="form-content">
                    <label for="phoneNumber">Phone Number</label>
                    <p class="errorMsg" *ngIf="!validateForm.phoneNumber"> Please enter mobile number</p>
                    <input type="text" class="form-control" formControlName="phoneNumber" id="phoneNumber" />
                </div>
                <div class="form-content">
                    <label for="region">Region</label>
                    <p class="errorMsg" *ngIf="!validateForm.region"> Please enter region</p>
                    <input type="text" class="form-control" formControlName="region" id="region" />
                </div>
                <div class="form-content">
                    <label for="employeeCode">Employee Code</label>
                    <p class="errorMsg" *ngIf="!validateForm.employeeCode"> Please enter employee code</p>
                    <input type="text" class="form-control" formControlName="employeeCode" id="employeeCode" />
                </div>
                <div class="form-content">
                    <label for="jobTitleName">Job Title</label>
                    <p class="errorMsg" *ngIf="!validateForm.employeeCode"> Please enter job title</p>
                    <input type="text" class="form-control" formControlName="jobTitleName" id="jobTitleName" />
                </div>
                <div class="form-submit text-center mt-3">
                    <button type="submit" class="btn btn-info">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>