.actionIcons{
    margin: 0;
    text-align: center;
}
.actionIcons span {
    font-size: 16px;
    margin: 0px 10px;
}
.errorMsg{
    color: red;
    font-size: 12px;
    margin: 0;
}
.detailContainer{
    background: #e4e4e4;
    padding: 30px 20px;
    border-radius: 5px;
    margin: 30px;
}
.detailContainer i{
    font-size: 20px;
    position: absolute;
    top: 8px;
    right: 8px;
}
.employeeTableContainer{
    border: 1px solid #dee2e6;
    border-radius: 7px;
}
.tableHeader{
    background: #e4e4e4;
    padding: 10px;
    position: relative;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}
.tableHeader h4{
    display: inline-block;
    vertical-align: middle;
    margin: 0;
}
.tableHeader input{
    float: right;
    vertical-align: middle;
    border-radius: 4px;
    border: 1px solid #adadad;
    text-indent: 10px;
}
.addEmployeeButton{
    height: 84px;
    padding: 25px;
}
.addEmployeeButton button{
    float: right;
    background: transparent;
    border: none;
    font-size: 25px;
}
.addEmployeeButton button img{
    width: 25px;
}
